<mat-card>
  <mat-card-title>
    <mat-form-field *ngIf="creation; else staticTitle">
      <input matInput type="text" [formControl]="nameControl" [placeholder]="'Addresses.Name' | translate">
    </mat-form-field>
    <ng-template #staticTitle>
      <span>{{ address.name }}</span>
    </ng-template>
  </mat-card-title>
  <mat-card-content>
    <ng-container *ngIf="creation; else existing">
      <mat-form-field>
        <input matInput [formControl]="balance" type='number' [placeholder]="'Addresses.Balance' | translate">
      </mat-form-field>
      <mat-form-field>
        <input matInput [formControl]="btcAddress" type="text" [placeholder]="'Addresses.Address' | translate">
      </mat-form-field>
    </ng-container>

    <ng-template #existing>
      <ng-container *ngIf="realAddress; else fakeAddress">
        {{address.amount}}
      </ng-container>
      <ng-template #fakeAddress>
        <mat-form-field>
          <input matInput [formControl]="balance" [placeholder]="'Addresses.Balance' | translate">
        </mat-form-field>
      </ng-template>
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="save()"><mat-icon>save</mat-icon></button>
    <button *ngIf="!realAddress && !creation" mat-icon-button (click)="delete()"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>
