<mat-card *ngIf="currencyOptions$ | async as currencyOptions" [formGroup]="inputForm" class="converter-container">
  <mat-card-content class="content">
    <mat-form-field>
      <mat-select formControlName="currency" [placeholder]="'Converter.Currency' | translate">
        <mat-option *ngFor="let option of currencyOptions" [value]="option">
          {{ option}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field >
      <input matInput (wheel)="onWheel($event)" formControlName="amount" type="number" [placeholder]="'Converter.Amount' | translate">
    </mat-form-field>

    <span>
      {{ 'Converter.InBtc' | translate}}
    </span>
    <span> {{ convertedAmount$ | async}}</span>
  </mat-card-content>
</mat-card>
