<mat-list *ngIf="details$ | async as details" class="details-list">
  <mat-list-item>
    <div class="btc-item">
      <span>
        {{ 'Details.MarketCap' | translate }}
      </span>
      <span>
        {{ details.marketcap | currency}}
      </span>
    </div>
  </mat-list-item>

  <mat-list-item>
    <div class="btc-item">
      <span>
        {{ 'Details.TotalBtc' | translate }}
      </span>
      <span>
        {{ details.totalBtc}}
      </span>
    </div>
  </mat-list-item>

  <mat-list-item>
    <div class="btc-item">
      <span>
        {{ 'Details.24hrTransactions' | translate }}
      </span>
      <span>
        {{ details.transactionCount24h}}
      </span>
    </div>
  </mat-list-item>

  <mat-list-item>
    <div class="btc-item">
      <span>
        {{ 'Details.24hrSent' | translate }}
      </span>
      <span>
        {{ details.btcSent24h}}
      </span>
    </div>
  </mat-list-item>

  <mat-list-item>
    <div class="btc-item">
      <span>
        {{ 'Details.HashRate' | translate }}
      </span>
      <span>
        {{ details.hashrate}}
      </span>
    </div>
  </mat-list-item>

  <mat-list-item>
    <div class="btc-item">
      <span>
        {{ 'Details.Difficulty' | translate }}
      </span>
      <span>
        {{ details.difficulty}}
      </span>
    </div>
  </mat-list-item>
</mat-list>
<!--
  Could use a table or mat table, but I like the default style of list here.

<table *ngIf="details$ | async as details" class="details-list">
  <tr>
    <td>{{ 'Details.MarketCap' | translate }}</td>
    <td>{{ details.totalBtc | currency}}</td>
  </tr>
  <tr>
    <td>{{ 'Details.TotalBtc' | translate }}</td>
    <td>{{ details.marketcap}}</td>
  </tr>
  <tr>
    <td>{{ 'Details.24hrTransactions' | translate }}</td>
    <td>{{ details.transactionCount24h}}</td>
  </tr>
  <tr>
    <td>{{ 'Details.24hrSent' | translate }}</td>
    <td>{{ details.btcSent24h}}</td>
  </tr>
  <tr>
    <td>{{ 'Details.HashRate' | translate}}</td>
    <td>{{ details.hashrate}}</td>
  </tr>
  <tr>
    <td>{{ 'Details.Difficulty' | translate }}</td>
    <td>{{ details.difficulty}}</td>
  </tr>
</table> -->
