:host.details-component {
  display: flex;
  justify-content: center;
}

.details-list {
  width: 500px;

  mat-list-item:nth-child(2n) {
    background: #c1c1c1;
  }

  .btc-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}


/* When using table */
table {
  border-collapse: collapse;

  tr:nth-child(2n) {
    background: #c1c1c1;
  }
}
