:host.dashboard-component {
  height: 100%;
  width: 100%;
  display: block;

  .loading-spinner {
    height: 100%;
    width: 100%;
    background: #2b2b2bba;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

}


.container {
  box-sizing: border-box;
  padding: 5px;

  display: grid;
  grid-template-columns: minmax(0, auto) 200px;
  grid-template-rows: 80px auto;
  gap: 10px;
  grid-template-areas: "main sidebar";


  .table-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .balance {
    grid-area: sidebar;
  }

  .table {
    grid-row: 1/-1;
  }
}
